@import '/assets/css/flipclock.css';

/* --------------------------------
Globals
-------------------------------- */
$blue:     #8FB1CC;
$green:    #88AFA7;
$peach:    #FFBAA6;
$yellow:   #FDD46C;
$eggshell: #FCFFF1;

$nav: #00A5D9;

$sm:  768px;
$md:  992px;
$lg: 1200px;

/* --------------------------------
Primary
-------------------------------- */
@font-face { font-family: 'Ferro'; src: url(/assets/fonts/ferrorosso.ttf) format('truetype'); }
@font-face { font-family: 'Geared'; src: url(/assets/fonts/geared.ttf) format('truetype'); }
@font-face { font-family: 'HandShop'; src: url(/assets/fonts/handshop.ttf) format('truetype'); }
html * {
  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  position: relative;
  background-color: #FFF;
  overflow-x: hidden;
  font-family: 'Montserrat';
  font-size: 2.5rem;
}
h2 {
  padding-top: 20px;
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
}
p {
  margin: 0 30px;
  font-size: 17px;
  line-height: 27px;
  text-align: center;
}
img {
  max-height: 100%;
  max-width: 100%;
}
ul { margin-top: 10px; }

/* --------------------------------
Navigation
-------------------------------- */
nav.navbar-inverse {
  background: #FFF url(/assets/img/masthead.png) repeat-x bottom;
  background-size: contain;
  border: 0 !important;
  padding-top: 20px;
  font-size: 12px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  box-shadow: 5px 5px 7px -6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s ease-out;
  .container-fluid {
    margin-top: -20px;
  }
}
.navbar-header { display: inline-block; }
.navbar-nav > li {
  a {
    padding-bottom: 12px;
    color: #98A1A3;
    font-weight: 500;
    background-color: transparent !important;
    transition: all 0.3s ease-out;
    &:after {
      content: '';
      border-bottom: 2px solid $nav;
      display: block;
      transform: scaleX(0);
      transition: transform 250ms ease-in-out;
    }
    &:hover {
      color: $nav !important;
      transform: translate(0px, -3px);
    }
    &:focus { color: #9d9d9d !important; }
  }
  &.active > a,
  &.active:hover > a,
  &:hover > a {
    color: $nav !important;
  }
  &.active a:after { transform: scaleX(1); }
  &:first-child { display: none; }
}
.navbar-brand {
  float: right;
  height: 85px;
  padding: 10px 10px 15px;
  transition: all 0.3s ease-out;
}
.navbar-toggle {
  margin-top: 20px;
  background-color: #333;
}
.nav {
  margin: 0 auto;
  text-align: center;
  & > li {
    display: inline-block !important;
    & > a { padding: 10px; }
  }
}
@media (min-width: $sm) {
  .nav {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
  }
}
#emblem {
  float: right !important;
  img {
    height: 60px;
    margin: 0 auto;
    width: 60px;
  }
}
@media (min-width: $sm) {
    #emblem img {
      height: initial;
      width: initial;
    }
}

/* --------------------------------
Special Elements
-------------------------------- */
.line-decor {
  display: block;
  height: 4px;
  margin: 0 auto 2rem;
  width: 70%;
  background-color: #333;
}

/* --------------------------------
Sections
-------------------------------- */
section,
footer {
  margin-bottom: 10px;
  min-height: 635px;
  padding-bottom: 25px;
  text-align: center;
}

/* --------------------------------
Main
-------------------------------- */
#main {
  color: #FFF;
  text-shadow: 0 0 3px black;
  background: #94EAE5 url(/assets/img/bg.png) center;
  background-size: cover;
  & > div { margin-top: 150px; }
  #dcon-info {
    #title {
      font: 7rem 'Ferro';
      text-transform: none;
    }
    #date {
      margin: 0 auto;
      padding: 5px;
      width: 65%;
      color: #FFF;
      font-size: 1.2rem;
      letter-spacing: 1.5px;
      text-shadow: none;
      text-transform: uppercase;
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}
@media (min-width: $sm) {
  #main #dcon-info #date {
    font-size: 2rem;
  }
}

/* --------------------------------
Welcome
-------------------------------- */
#welcome {
  background: $peach;
  #chair-message,
  #announcements {
    margin: 0 auto;
    width: 90%;
    .entry h3 {
      padding: 5px;
      width: 300px;
      background-color: #333;
      color: #FFBAA6;
      text-align: center;
    }
    &, & p { text-align: left; }
  }
  #chair-message {
    padding-left: 20px;
    font-size: 17px;
  }
}

/* --------------------------------
Documents
-------------------------------- */
#documents {
  background: $yellow;
  #filter {
    padding-bottom: 4rem;
    text-transform: uppercase;
    span {
      font-size: 2.2rem;
      font-weight: 400;
      &:hover,
      &.selected {
        border-bottom: 2px solid #333;
        cursor: pointer;
      }
    }
    & ~ div {
      display: none;
      margin: 0 auto;
      width: 85%;
      h2 {
        margin-bottom: 0;
        margin-top: 0;
        padding-top: 0;
        font-size: 2rem;
      }
      .material-icons { font-size: 4rem; }
    }
  }
  .document {
    padding: 1rem;
    margin: 10px 0;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 3px;
    a {
      cursor: pointer;
      &.coming-soon {
        color: #333;
        cursor: default;
        &:hover { text-decoration: none; }
      }
    }
    h2 {
      display: inline-block;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
    .media-body > a {
      font-size: 1.3rem;
      font-weight: bold;
      text-transform: uppercase;
      vertical-align: middle;
    }
    p { line-height: 1.5; }
    p, ul, h4 { display: none; }
    p, ul {
      display: none;
      margin-left: 0;
      font-size: 1.3rem;
      text-align: left;
    }
  }
}
@media (min-width: $sm) {
  #documents .media-body > p,
  #documents .media-body > ul,
  #documents .media-body > h4 {
    display: block !important;
  }
  #documents .media-body > a {
    display: inline-block;
    margin-left: 10px;
  }
}

/* --------------------------------
Timeline
-------------------------------- */
#timeline {
  background: $eggshell;
  .timeline-container {
    position: relative;
    overflow-x: scroll;
    padding: 30px 0 10px 0;
    white-space: normal;
    .entry {
      position: relative;
      display: inline-block;
      max-width: 300px;
      min-height: 205px;
      padding: 10px;
      font-size: 12px;
      text-align: left;
      vertical-align: top;
      background: rgba(0, 0, 0, 0.1);
      border-top: 4px solid #06182E;
      border-radius: 3px;
      &:not(:first-child) {
        margin-top: 0;
      }
      &:before {
        content: '';
        left: 50%;
        top: -20px;
        position: absolute;
        display: block;
        height: 20px;
        margin-left: -2px;
        width: 5px;
        background: #06182E;
      }
      h1 {
        margin-bottom: 10px;
        margin-top: 5px;
        font-size: 18px;
        font-weight: bold;
        overflow-wrap: break-word;
        text-align: center;
        text-transform: uppercase;
      }
      h2 {
        margin-bottom: 10px;
        margin-top: 5px;
        padding-top: 0;
        font-size: 14px;
        text-align: center;
      }
    }
  }
  .timeline-bar {
    top: 13px;
    left: 0;
    position: relative;
    height: 4px;
    width: 100%;
    background: #EEE;
  }
  #office-hours {
    margin: 0 auto 20px;
    padding-left: 20px;
    width: 90%;
    font-size: 15px;
    text-align: left;
    p {
      margin: 20px auto;
      font-size: 15px;
    }
  }
  iframe {
    height: 400px;
    width: 88.3%;
    border: 1px solid #333;
  }
}
@media (max-width: $sm) {
  #timeline .timeline-container .entry:not(:first-child) {
    margin-top: 15px;
  }
  #timeline iframe {
    height: 200px;
  }
}
@media (max-width: $md) {
  #timeline .timeline-container .entry:nth-child(3n) {
    margin-top: 15px;
  }
  #timeline iframe {
    height: 300px;
  }
}

/* --------------------------------
Frequently Asked Questions
-------------------------------- */
#faq {
  color: #FFF;
  background: $green;
  .line-decor { background-color: #FFF; }
  & > div:first-child ~ div {
    float: none;
    margin: 0 auto;
    width: 90%;
  }
  #preview {
    margin: 0 auto;
    padding-left: 20px;
    width: 90%;
    font-size: 15px;
    text-align: left;
  }
  div > div {
    h2 {
      font-size: 2rem;
      text-align: left;
      text-transform: none;
    }
    p {
      margin: 0;
      line-height: 20px;
      font-size: 14px;
      text-align: left;
      a {
        color: #FFF;
        text-decoration: underline;
      }
    }
  }
}

/* --------------------------------
DCON Committee Whole
-------------------------------- */
#dcon-committee-whole {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  min-height: 0;
}

/* --------------------------------
DCON Committee
-------------------------------- */
#dcon-committee {
  background-color: $blue;

  & > div {
    color: #FFF;
    text-transform: uppercase;
    &:first-child { margin-top: 50px; }
    h1 { font: 7.5rem 'Geared'; }
  }
  img {
    margin-top: 30px;
    height: 115px;
    width: 115px;
    border-radius: 50%;
  }
  h4 {
    margin-bottom: 0;
    font-size: 12px;
  }
  h5 {
    margin: 0;
    font-size: 11px;
    font-weight: 300;
  }
  h6 {
    margin: 0;
    font-size: 8px;
    a {
      color: #FFF;
      span { display: none; }
    }
  }
}
@media (min-width: $sm) {
  #dcon-committee {
    h6 a span {
      display: initial;
    }
  }
}
@media (min-width: $lg) {
  #dcon-committee {
    div > h1 { font-size: 8rem; }
    h4 { font-size: 18px; }
    h5 { font-size: 15px; }
    h6 { font-size: 12px; }
  }
  #dcon-committee {
    img {
      height: 150px;
      width: 150px;
    }
  }
}

/* --------------------------------
Footer
-------------------------------- */
footer {
  background: #EAA262 url(/assets/img/end.png) no-repeat center bottom;
  background-size: cover;
}
